In [1]:
from utils import GenerateSensitivityAnalysisData
import pandas as pd
import os

In [2]:
df = pd.read_csv('experiment_data/output_data/output_estresados_0.csv')
df.head()

,primary_id,region,time_period,area_agrc_crops_bevs_and_spices,area_agrc_crops_cereals,area_agrc_crops_fibers,area_agrc_crops_fruits,area_agrc_crops_herbs_and_other_perennial_crops,area_agrc_crops_nuts,area_agrc_crops_other_annual,...,yield_agrc_fruits_tonne,yield_agrc_herbs_and_other_perennial_crops_tonne,yield_agrc_nuts_tonne,yield_agrc_other_annual_tonne,yield_agrc_other_woody_perennial_tonne,yield_agrc_pulses_tonne,yield_agrc_rice_tonne,yield_agrc_sugar_cane_tonne,yield_agrc_tubers_tonne,yield_agrc_vegetables_and_vines_tonne
0,0,iran,0,6.640703e+06,1.477131e+07,3.064940e+06,7.988710e+06,1.030870e+07,5.626152e+06,7.442412e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.839088e+07,4.945270e+08
1,0,iran,1,5.303445e+06,2.293184e+07,2.447744e+06,6.379999e+06,8.232805e+06,4.493197e+06,5.943712e+06,...,1790.0,2388.0,1960.0,2438.0,1108.0,2706.0,2736.0,2449.0,3.743425e+07,4.992537e+08
2,0,iran,2,3.924789e+06,3.133368e+07,1.811441e+06,4.721488e+06,6.092648e+06,3.325169e+06,4.398615e+06,...,1790.0,2388.0,1960.0,2438.0,1108.0,2706.0,2736.0,2449.0,4.060926e+07,6.307564e+08
3,0,iran,3,3.149133e+06,3.587921e+07,1.453446e+06,3.788381e+06,4.888559e+06,2.668016e+06,3.529317e+06,...,1790.0,2388.0,1960.0,2438.0,1108.0,2706.0,2736.0,2449.0,6.017093e+07,7.346617e+08
4,0,iran,4,2.659890e+06,3.843551e+07,1.227642e+06,3.199825e+06,4.129082e+06,2.253518e+06,2.981009e+06,...,1790.0,2388.0,1960.0,2438.0,1108.0,2706.0,2736.0,2449.0,8.400398e+07,7.816373e+08

In [3]:
df['Year']

KeyError: 'Year'

In [50]:
generate_data = GenerateSensibilityAnalysisData(experiment_data_path='experiment_data')

In [52]:
generate_data.create_CSVs_for_sensibility_analysis()

,exports_lvst_cattle_nondairy,exports_lvst_sheep,exports_lvst_chickens,exports_lvst_cattle_dairy,exports_lvst_mules,exports_lvst_horses,exports_lvst_buffalo,exports_lvst_goats,exports_lvst_pigs,nemomod_entc_frac_min_share_production_pp_coal,...,emission_co2e_subsector_total_inen,emission_co2e_subsector_total_ippu,emission_co2e_subsector_total_lndu,emission_co2e_subsector_total_lsmm,emission_co2e_subsector_total_lvst,emission_co2e_subsector_total_scoe,emission_co2e_subsector_total_soil,emission_co2e_subsector_total_trns,emission_co2e_subsector_total_trww,emission_co2e_subsector_total_waso
0,8670.977601,890.615602,75416.655377,13702.944702,1108.855631,1315.386471,1287.528232,1388.098419,1123.429761,0.0,...,12.810168,101.806114,45.292548,3.756509,28.185834,168.332567,11.672424,29.790954,12.032021,32.732450
1,13957.952594,1028.627032,99650.832154,9252.216045,755.930335,3037.251798,1440.135318,2422.176187,1212.766857,0.0,...,9.706445,110.886702,45.292549,3.756509,30.896268,177.494289,11.469828,23.796367,12.183207,29.905815
2,17572.827427,1125.120028,78685.984594,12891.111174,1138.483447,2506.915357,1243.347626,2720.604135,1093.141440,0.0,...,7.535561,132.746170,45.292550,3.756509,31.852439,171.965524,11.451603,24.422400,11.320595,31.074661
3,19356.962711,1370.664081,135670.504570,12055.765015,1531.086747,1960.450450,1134.225888,1853.994671,1629.557519,0.0,...,13.598701,98.771077,45.292550,3.756509,30.206533,170.800226,11.665502,24.197340,12.507093,23.572140